# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env
.env.*

# Sensitive keys and credentials
/src/config/serviceAccountKey.json
*.pem
*.key

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Misc
coverage/